@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .work {
        flex-direction: column;
        justify-content: center;
    }
    .work button {
        margin-bottom: 50px;
    }
    .welcome {
        flex-direction: column;
        justify-content: center;
    }
    .welcome img {
        padding-bottom: 50px ;
    }
    .about-items {
        width: 249px;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .header nav  {
        display: none;
    }
    .about {
        flex-direction: column;
        justify-content: center;
    }
   .about-items {
       width: 400px;
    }
    .see {
        padding-left: 211px;
    }
}

@media (max-width: 576px) {
    .general {
        flex-direction: column;
    }
}

@media (max-width: 451px) {
      .work img {
          width: 90%;
      }
    .welcome img {
        width: 90%;
    }
}

@media (max-width: 400px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}
